.App {
    text-align: center;
  }
  
  .Counter {
    margin-top: 50px;
  }
  
  .Counter h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Counter p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .Counter button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Counter button:hover {
    background-color: #0056b3;
  }
  